<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/custom.css">
    <link rel="shortcut icon" href="../static/logo.png" />
    <title>Rapaduras MTB</title>
</head>
<body>
    <nav class="navbar navbar-dark" style="background-color: #231F20;">
        <a class="navbar-brand" href="/">
            <img src="../static/nova_logo.png" width="129" height="80">
        </a>

      <form class="form-inline">
        {% if user == "admin" %}
          <a href="/post" style="color: #FF8A00">Post</a>
          &nbsp;
          &nbsp;
        {% endif %}
          <a href="https://www.facebook.com/groups/486829158361130/" target="_blank">
              <img src="/static/facebook.png" width="40" height="40">
          </a>
          &nbsp;
          &nbsp;
          <a href="https://www.instagram.com/rapaduras_mtb/" target="_blank" class="ins-ic mr-3" role="button">
              <img src="/static/instagram.png" width="40" height="40">
          </a>
          &nbsp;
          &nbsp;
          <input class="form-control mr-sm-2" type="search" placeholder="Digite aqui...">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </nav>

<div class="row">
    <div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/static/com_bandeira_3_1.jpg" alt="Second slide">
                <div class="carousel-caption">
                  <h5>Rapaduras - Grupo de MTB do DF</h5>
                  <p>Site em construção</p>
                </div>
              </div>
            </div>
    </div>
</div>

<br><br>

<div class="row" style="color: #FF8A00">
    <div class="card mb-5 mx-auto" style="width: 26rem; height: 22rem;">
        <a href="https://www.youtube.com/watch?v=956SUPzNzD4" target="_blank">
        <img src="../static/video_thumb.jpeg" class="card-img-top" width="244" height="293">
          <div class="card-body">
            <p class="card-text text-center"><b>Rapaduras em Taboquinha e 3 morros!</b></p>
          </div>
        </a>
    </div>

      <div class="card mb-5 mx-auto" style="width: 26rem; height: 22rem;">
        <a href="">
          <img src="../static/camisa.jpeg" class="card-img-top" width="244" height="293">
          <div class="card-body">
            <p class="card-text text-center"><b>La Furia, nossa camisa comemorativa</b></p>
          </div>
        </a>
    </div>

      <div class="card mb-5 mx-auto" style="width: 26rem; height: 22rem;">
        <a href="https://www.youtube.com/watch?v=sbEthORoqu8&feature=youtu.be" target="_blank">
          <img src="../static/nova.jpg" class="card-img-top" width="244" height="293">
          <div class="card-body">
            <p class="card-text text-center"><b>Rapaduras em Tonéis</b></p>
          </div>
        </a>
    </div>
</div>

<footer style="background-color: #231F20; color: #ffffff; padding-top: 2rem;">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col social">
                <img src="../static/logo.png" width="140" height="78">
            <div class="col-12">
                <hr class="light">
                <h5 class="text-center">&copy Rapaduras MTB</h5>
            </div>
        </div>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>