.carousel-inner{
    width: 100% !important;
    height: 100% !important;
}

.nav-bar{
    height: 100%;
}

.carousel-indicators .active{
    background-color: #FF8A00;
}

a:link {
    color: black;
    }
    a:visited {
    color: black;
    }
    a:hover {
    color: #FF8A00;
}

.btn-outline-success {
    border-color: #FF8A00; 
    color: #FF8A00;
}