@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif; 
}

header{
    width: 100%;
    height: 125px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 15vw;
    height: 19vh;
    max-width: 151px;
    max-height: 98px;
}

header nav{
    width: 30%;

    background-color: ;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.midia-icon{
}

.midia-icon img{
    width: 25px;
    height: 25px;
}

.nav-text{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    
    color: black;

    transition: 0.2s all ease;
}

.nav-text:hover{
    border-bottom: 3px solid #FF8A00;
}

.container-mais-acessados{
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: space-evenly;
}

.container-mais-acessados a{
    width: 100%;
}

.container-mais-acessados a:nth-child(2){
    margin-left: 5px;
    margin-right: 5px;
}

.mais-acessados{
    width: 100%;
    height: 40vh;

    position: relative;
    padding: 28px;
    display: flex;
    align-items: flex-end;

    cursor: pointer;
}

.mais-acessados::before{
    content: '';

    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.5;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 10;

    transition: opacity 0.3s ease;
}

.mais-acessados:hover::before{
    opacity: 0.1;
}

.mais-acessados img{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.mais-acessados h1{
    font-size: 260%;
    font-weight: bold;

    color: #EEEEEE;

    position: relative;
    z-index: 10;

    pointer-events: none;
}

main{
    width: 100%;
    height: max-content;

    margin: auto;
}

main ul{
    width: 80%;
    height: max-content;

    margin: auto;

    overflow: hidden;
}

main ul li{
    width: 49%;
    height: 300px;

    margin-top: 10px;
    margin-right: 10px;

    float: left;
}

main article{
    width: 100%;
    height: 100%;

    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
}

.img-article{
    width: 40%;
    height: 100%;

    float: left;
    margin-right: 20px;
    overflow: hidden;
}

.img-article img{
    width: auto;
    height: 100%;
}

article h1{
    font-size: 260%;
    font-weight: bold;

    color: #575757;

    line-height: 150%;
}

a{
    text-decoration: none;
}

.container-editor{
    margin-top: 80px;

    display: -webkit-flex;
    align-items: center;
}

.editor-foto{
    width: 60px;
    height: 60px;

    margin-right: 10px;

    border-radius: 50%;

    background: #575757;
}

.editor-nome{
    color: rgba(86, 86, 86, 0.65);
    font-size: 100%;
}

.data{
    color: rgba(86, 86, 86, 0.65);
    font-size: 80%;
    font-style: italic;
}

footer{
    
}

.carousel .item {
    height: 100px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100px;
}